# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
env/
venv/
ENV/
*.env
Business/
Docs/
Implementation_Docs/
# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# System
.DS_Store

# Logs
*.log
logs/
